<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted fw-bold">© 2024 NoteWave. Proudly made by Deepanshu</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none fw-bold "> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  NoteWave   </a>
  
      <ul class="nav col-md-3 justify-content-end">
          <li><a href="/" class=" nav-link px-2 link-dark hover-effect">Home</a></li>
      <li><a href="/features" class="nav-link px-2 link-dark hover-effect">Features</a></li>
      <li><a href="/frequently" class="nav-link px-2 link-dark hover-effect">FAQs</a></li>
      <li><a href="/about" class="nav-link px-2 link-dark hover-effect">About</a></li>
        </ul>
    
    </footer>
  </div>  