
        <div class="container">


           <u> <h1>About </h1></u>
            <p class="fs-5 mb-5">
            The idea for <b>NoteWave</b> was born out of my own need for a simple, yet powerful, note-taking tool. As a developer and someone who constantly jots down ideas, tasks, and bits of information, I found myself overwhelmed by the options available. Existing apps were either cluttered with unnecessary features or lacked the flexibility I needed. I wanted a solution that was straightforward, with just the right balance of functionality and simplicity. This is how <b>NoteWave</b> came to life—built to streamline the note-taking process, allowing users to focus on their thoughts without distraction.        </p>


            <div class="row">

                <div class="col-md-8 mb-4">
                    <h2>Tech Stack</h2>
                    <p class="fs-4">
                        <ul>
                            <li>HTML5</li>
                            <li>Node.js</li>
                            <li>Express</li>
                            <li>EJS</li>
                            <li>MongoDB</li>
                            <li>Bootstrap</li>
                        </ul>
                    </p>
                </div>
        
                <div class="col-md-4 mb-4">
                    <h2>Dependencies Used</h2>
                    <p class="fs-4">
                        <ul>
                            <li>Connect-mongo(5.1.0)</li>
                            <li>Dotenv(16.4.5)</li>
                            <li>Ejs(3.1.10)</li>
                            <li>Express Ejs Layout(2.5.1)</li>
                            <li>Express Session(1.18.0)</li>
                            <li>Method Override(3.0.0)</li>
                            <li>Mongoose(8.5.1)</li>
                            <li>Passport(0.7.0)</li>
                            <li>Passport Google Auth20(2.0.0)</li>
                            <li>nodemon(3.1.4)</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        