
<div class="container-fluid-custom  py-md-3 mb-4">
    <main>
        <div class="row py-md-5 text-center justify-content-center">

            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-3 fw-bold mb-5 position-relative home-title">&nbsp;
                Write your thoughts down as they come to you...</h1>

                <div class="container my-5">
                    <p class="fs-4 mb-5 text-center mx-auto">  
                        NoteWave provides an easy-to-use, free solution for all your note-taking needs, ensuring a seamless experience for jotting down and organizing thoughts.                   
                    </p>
                </div>
                

                <a href="/auth/google" class="btn btn-primary btn-lg">Try NoteWave , it's Free!</a>

            </div>
        </div> 
    </main>

</div>

